*.aux
*.dvi
*.bcf
*.xml
*.lot
*.log
*.out
*.toc
*.lof
*.thm
*.bbl
*.tmp
*.xdv
*.blg
1intro.tex
2relatedwork.tex
3ourwork.tex
4experiment.tex
5discussion.tex
6conclusion.tex
cover.tex
acknowledge.tex
thesis.pdf
thesis-blx.bib
recite.txt
draft.txt
refer.bib
~$*
.dist
*.fdb_latexmk
*.fls
trials/